.intro{
  background-color: #f4f5f7;
  width: 1440px;
  height: 676px ;
}

.intro__content{
  width: 635px;
  height: 136px;
}

.intro_heading{
  width: 411px;
  font-weight: 100;
  font-size: 10px;
  line-height: 64px;
  letter-spacing: 3.5px;
  color: #2D314D;
  margin-top: 96px;
}
