.invite-button{
  border:none;
  padding: 8px 35px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color:#fff;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px

}
